body {
    background-color:#f4f4f4;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
    color:#222;
}
a:hover {
    color:#444;
}
a:active {

    color:#fff;
}
a:visited {

    color:#666;
}
.categories {
    border:1px #ccc solid;
    padding: 20px;
    border-radius:20px;
}
.categories h2 {
    text-align: center;
}
.categories ul {
    list-style: none;
}
.link-item {
    border:1px #ccc solid;
    padding: 20px;
    border-radius:20px;
}
.link-item h2 {
    text-align: left;
}
.link-item h3 {
    text-align: left;
}
.link-item hr {
    margin: 0em;
    border: 1px #222 solid;
}
.type {
    border: 1px #ddd solid;
    padding: 1px;
    margin: 1% 80% 1% 1%;
    border-radius: 10px;
}
.type h3 {
    text-align: center
}