element.style {
}
body {
    min-width: 320px;
}
body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}
body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #333;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
@media only screen and (max-width: 767px)
html:not(.aos) {
    --global-nav-main-height: 48px;
    --global-nav-collective-height: 48px;
}
html {
    --global-nav-main-height: 0px;
    --global-nav-segmentbar-height: 0px;
    --global-nav-localeswitcher-height: 0px;
    --global-nav-collective-height: 0px;
}
html {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 106.25%;
    quotes: "“" "”";
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}